<div class="user_reservation_index">
<h1>検索結果一覧</h1>

  <h2>検索日程: <%= @time %></h2>

  <% @reservations.each do |reservation| %>

    <p>・ニックネーム</p>
    <div class="user_reservation_student_image"><%= link_to reservation.student.nickname, new_user_reservation_path(reservation.id), class: 'link-nickname' %></div>

    <p>・プロフィール写真</p>
    <div class="student_image"><h3>
      <%= link_to image_tag(reservation.student.avatar, size: "300x300"), new_user_reservation_path(reservation.id) %></h3>
    </div>

    <p>・学部</p>
    <h3><%= reservation.student.department %></h3>

    <p>_______________________________________________</p>

   <%end%>

   <h1 class= "Back-search"><%= link_to 'もう一度検索する', search_user_reservations_path , class: 'link-back' %></h1>
</div>