<h1>カルフォルニア大学バークレー校</h1>

<%= image_tag 'images.jpg', class:"california_uni_img" %>

<%= search_form_for @q, url: user_reservations_path do |f| %>

  <%= f.label :time_eq, '時間'  %>
  <%= f.date_field :time_eq, class: "form-control", placeholder: "マッチング" %>

  <%= f.submit '検索しますね！' %>

<% end %>