<!DOCTYPE html>
<html>


<header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">RealCumpus</a></h1>

      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %>
          <a class="post" href="/realcumpus">キャンパスに行く</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ユーザーログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>


      <% if student_signed_in? %>
        <div class="student_nav grid-6">
          <%= link_to "学生ログアウト", destroy_student_session_path, method: :delete %>
          <a class="post" href="/realcumpus">キャンパスに行く</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "学生ログイン", new_student_session_path, class: 'post' %>
          <%= link_to "新規登録（学生）", new_student_registration_path, class: 'post' %>
        </div>
      <% end %>


    </div>
  </header>


<head>
  <title>RealCumpus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
