<!DOCTYPE html>
<html>
<head>
  <title>RealCumpus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="header clearfix">
  <div class="header__bar">
    <h1 class="header_title"><a href="/">RealCampus</a></h1>

    <% if user_signed_in? %>
      <div class="user_nav grid-6">
        <h2><%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %></h2>
      </div>
      <div class="grid-6">
        <h2><%= link_to "ユーザーマイページ", user_mypages_path(current_user.id) %></h2></div>
      </div>
    <% else %>
      <div class="grid-6">
        <h2><%= link_to "ユーザーログイン", new_user_session_path, class: 'post' %></h2>
      </div>
    <% end %>

    <% if student_signed_in? %>
      <div class="grid-6">
        <div class="student_logout">
        <h2><%= link_to "学生ログアウト", destroy_student_session_path, method: :delete %></h2>
        </div>
      </div>
      <div class="grid-6">
        <h2><%= link_to "学生マイページ", student_mypages_path(current_student.id) %></h2></div>
      </div>
    <% else %>
      <div class="grid-6">
        <h2><%= link_to "学生ログイン", new_student_session_path, class: 'post' %></h2>
      </div>
    <% end %>
  </div>
</header>

  <%= yield %>

  <footer>
    <p>RealCampus 2017</p>
  </footer>

</body>

</html>
